button{
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
}

#main{
    padding: 15px;
    background-color: #434343;
    border-radius: 12px;
    animation: glow 2s infinite alternate;
    width: 340px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#display{
    width: 95%;
    height: 80px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 10px;
}
#equal{
    background-color: orange;
    font-weight: bold;
}

body{
      height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    background: linear-gradient(to right, #434343, #000000,#3b3d3e, #070707);
    background-size: 300% 100%; 
    animation: gradientMove 5s ease infinite;
}
button:hover{
    cursor: pointer;
    background-color: #5a5c5e;
}
button:active{
    background-color: #403e43;
    box-shadow: 2px 2px 5px black;
}
@keyframes glow {
        from {
           box-shadow: 
                       5px 5px 15px rgb(4, 4, 121),
                       6px 6px 16px rgb(2, 142, 21),
                       7px 7px 17px rgb(163, 1, 1);
        }
        to {
            box-shadow: 
            10px 10px 20px rgb(215, 215, 222),
            12px 12px 22px rgb(152, 242, 7),
            14px 14px 24px rgb(128, 158, 7);
        }
    }
    @keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
@media (max-width: 400px){
    #main{
        width: 95%;
    }
}




